# GitHub will auto-request the right reviewer per folder.
# Replace with actual GitHub usernames.

/frontend/                              @kirubalanpm-gif
/backend/src/modules/auth/              @surya2f11-source
/backend/src/modules/vehicles/          @surya2f11-source
/backend/src/modules/drivers/           @surya2f11-source
/backend/src/prisma/                    @surya2f11-source
/backend/src/modules/trips/             @ashwin4087-a11y
/backend/src/modules/maintenance/       @ashwin4087-a11y
/backend/src/modules/fuel-expenses/     @ashwin4087-a11y
/backend/src/modules/reports/           @ashwin4087-a11y
/backend/src/modules/ai/                @ys077
/docker-compose.yml                     @ys077
/.github/                               @ys077
/docs/                                  @ys077
